/* Header.js */

.header_circle {
  width: 922px;
  height: 902px;
}

/* AboutUs.js */

.about_circle {
  width: 740px;
  height: 740px;
}

.about_image {
  width: 700px;
  height: 700px;
}

@media (min-width: 1025px) {
  .about_text_position {
    left: 53%;
  }
}
